# math operation

In [51]:
1+1

2

In [52]:
1*3#integer

3

In [53]:
4/2#division will always give you a float

2.0

In [54]:
3**2#double star is power

9

In [55]:
3%2#modulo means remainder

1

In [56]:
7%2

1

In [57]:
(3+5)/(1*2)

4.0

In [58]:
print("1+1")#when doing math on coding no need for print. Everything in quotes will become print.

1+1

# variable

In [ ]:
#variable means grabbing space in computer 
# = is an update and they all work right to left

In [ ]:
age = 13# this is telling the computer what age is. It works because a equal sign is used
print(age)# they printed 13 because we told them to print the age where we previously told the computer that the age is 13
print("age")# this printed age because we set it as a text message

13
age

In [1]:
alex_age = 0
william_age = 15
alex_age = william_age+2
print(alex_age)

17

In [2]:
age = 15
age =16
age = 10
print(age)

10

In [7]:
x = 2
y = 3
z = x+y
print(z)

5

In [12]:
x = 5
y = 10
z = 2
x = x*z
y = y/z
print(x)
print(y)

10
5.0

In [13]:
x = 5
y = 10
temp = x
x = y 
y =temp
print(x)
print(y)

10
5

In [ ]:
#explain swap code to each other. 
#BMI
# weight = kg
#height = meters