In [1]:
# single or double quotation mark should always be used for writing words. If quotes are left out, it will confuse the computer thinking its a number. No quotations will always be seen as numbers.
x = "hello"
print (x)

hello

# f-string

In [ ]:
name = "William"
age = "15"
print ("Hello, my name is") print (name) print ("I am also") print (age)

SyntaxError: invalid syntax (4032683205.py, line 3)

In [5]:
print ("Hello, my name is")
print (name)
print ("I am also")
print (age)

Hello, my name is
William
I am also
15 years old

In [9]:
print (f"my name is {name}, and I am {age} years old ")

my name is William, and I am 15 years old years old

# Comparison Operation

In [13]:
1>2

False

In [14]:
1<2

True

In [15]:
1>=1

True

In [16]:
1<=4

True

In [19]:
1=1

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1748595019.py, line 1)

In [20]:
1==1

True

In [21]:
"Hi"=="Hello"

False

In [22]:
"Hi"=="hi"

False

In [23]:
"hi"=="hi"

True

# Logic Operator

In [24]:
(1>2) and (2<3)

False

In [25]:
(1>2) & (2<3)

False

In [26]:
(1>2) or (2<3)

True

In [27]:
(1>2) | (2<3)

True

# if, else if statement

In [ ]:
if 1>2 :
    print("yep") # the conditional expression is false so this line will never execute
    print ('now what') # the execution of this line does not need it to be true so it executes.

In [40]:
if (1>2) :
    print('yep')
else:
    print ('nope')

nope

In [46]:
if 1 == 2:
    print ('first')
elif 3==3:
    print ('second')
elif 2==2:
    print('third')
else:
    print ('last')

second

In [47]:
age = 10
if age> 1 :
    print('greaterthan1')
if age > 5:
        print ('greaterthan5')
if age > 15 :
      print('greaterthan15')

greaterthan1
greaterthan5

In [48]:
age = 10
if age> 1 :
    print('greaterthan1')
elif age > 5:
        print ('greaterthan5')
else:
      print('other possibility')

greaterthan1