# Import

In [4]:
import numpy as np 
import pandas as pd
# all data science and ai engineers write it like this. it is industrial standard

# What is series

In [5]:
# a series is a single column of a data sheet plus index column

# Creating a series from a list

In [ ]:
mydata = [1776, 1867, 1621]
myseries = pd.Series (data = mydata)#the period is like saying pandas' series
myseries
#left is column right is feature

0    1776
1    1867
2    1621
dtype: int64

In [ ]:
# dtype is short for datatype
# int32 for example (-100, 100) 2^32
# int64 for example (-1000, 1000) 2^64

# Create series by customize index

In [ ]:
myindex = ["USA", "Canada", "Mexico"]
myseries2 = pd.Series (data = mydata, index = myindex)#pd means pandas
myseries2

USA       1776
Canada    1867
Mexico    1621
dtype: int64

# Create a random number by using numpy

In [77]:
rand_num = np.random.randint (0,100,4)#the first is the minimum the second is the max and the last is the number of result
rand_num

array([10, 84, 43, 53])

In [91]:
myindex = ["Will", "Isaac", "Alex"]
randnum = np.random.randint (10,30,3)
myseries2 = pd.Series (index = myindex, data = randnum)
myseries2

Will     20
Isaac    19
Alex     18
dtype: int64

# Creating a series from a Dictionary

In [4]:
age = {'Alex': 10,
       'William': 15,
       'Isaac': 14,}
s1 = pd.Series (age)
print (s1)

Alex       10
William    15
Isaac      14
dtype: int64

# Series Operation

In [6]:
q1 = {'Japan': 80,
      'China': 450,
      'USA': 300,
      'India': 100,}
q2 = {'Brazil': 70,
      'China': 670,
      'USA': 900,
      'India': 470,}
sale_q1 = pd.Series (q1)
sale_q2 = pd.Series (q2)
print(sale_q1)
print(sale_q2)

Japan     80
China    450
USA      300
India    100
dtype: int64
Brazil     70
China     670
USA       900
India     470
dtype: int64

## Call Series

In [9]:
sale_q1['Japan']

np.int64(80)

In [10]:
sale_q1[0]

/var/folders/sw/n2xwd1c908b40x147rfbvg2m0000gn/T/ipykernel_81546/2458365208.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sale_q1[0]

np.int64(80)

In [ ]:
#both of these ways work but try to avoid calling the index number and use the real name

## Wrong Calling

In [6]:
sale_q1 ['France']#non existing
sale_q1 ['USA ']#space
sale_q1 ['japan']#case sensetive

NameError: name 'sale_q1' is not defined

## Check the Keys

In [12]:
sale_q1.keys()

Index(['Japan', 'China', 'USA', 'India'], dtype='object')

## Math Operation

In [ ]:
sale_q1 *2#all math operations can be done

Japan    160
China    900
USA      600
India    200
dtype: int64

## Operations between series'

In [16]:
sale_q1 + sale_q2

Brazil       NaN
China     1120.0
India      570.0
Japan        NaN
USA       1200.0
dtype: float64