# Import

In [8]:
import numpy as np 
import pandas as pd
# all data science and ai engineers write it like this. it is industrial standard

# What is series

In [5]:
# a series is a single column of a data sheet plus index column

# Creating a series from a list

In [11]:
mydata = [1776, 1867, 1621]
myseries = pd.Series (data = mydata)#the period is like saying pandas' series
myseries

0    1776
1    1867
2    1621
dtype: int64

In [ ]:
# dtype is short for datatype
# int32 for example (-100, 100) 2^32
# int64 for example (-1000, 1000) 2^64

# Create series by customize index

In [12]:
myindex = ["USA", "Canada", "Mexico"]
myseries2 = pd.Series (data = mydata, index = myindex)
myseries2

USA       1776
Canada    1867
Mexico    1621
dtype: int64

# Create a random number by usig numpy

In [77]:
rand_num = np.random.randint (0,100,4)#the first is the minimum the second is the max and the last is the number of result
rand_num

array([10, 84, 43, 53])

In [91]:
myindex = ["Will", "Isaac", "Alex"]
randnum = np.random.randint (10,30,3)
myseries2 = pd.Series (index = myindex, data = randnum)
myseries2

Will     20
Isaac    19
Alex     18
dtype: int64