In [ ]:
#as long the sheet has more than one column, then it is called data frame.

In [ ]:
import numpy as np 
import pandas as pd

# Creating a dataframe

In [ ]:
mydata = np.random.randint(0,101,(4,3))#(4,3) 4 is row 3 is column
my_index = ['CA', 'NY', 'AZ', 'TX']
my_col = ['Jan', 'Feb', 'May']#col is short for column
df = pd. DataFrame(data=mydata, index=my_index, columns=my_col)#df is short for data frame
df

    Jan  Feb  May
CA   87   43   84
NY   59    5   61
AZ   48   23   87
TX   45   79   88